@page
@model TheAgooProjectWeb.Pages.Account.ChangeUserPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}
<div class="layout-px-spacing mt-lg-5">
    <div class="row layout-top-spacing" id="cancel-row">
        <div class="col-xl-6 col-lg-6 col-sm-6 offset-sm-3 layout-spacing">
            <div class="card mt-lg-5">
                <div class="card-body">
                    <div class="h4 text-center text-dark">RESET USER PASSWORD</div>
                    @if (TempData["error"] != null)
                    {
                        <div class="alert alert-danger mt-2" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
                            <strong><i class="fas fa-exclamation-triangle text-danger"></i></strong> &emsp; @TempData["error"].
                        </div>
                    }
                    <form method="post">
                        <div class="form-group mb-4">
                            <label for="formGroupExampleInput">Username/Reg. Number</label>
                            <input disabled readonly class="form-control" asp-for="Username" placeholder="Reg. Number">
                        </div>
                        <div class="form-group mb-4">
                            <label for="formGroupExampleInput2">New Password</label>
                            <input type="text" class="form-control" name="password" id="password" placeholder="New password" required>
                        </div>
                        <button type="submit" name="time" class="btn btn-primary">
                            Reset Password
                        </button>
                        <input type="hidden" asp-for="Code" />
                        <input type="hidden" asp-for="Username" />
                        <input type="hidden" asp-for="ReturnUrl" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
