@page
@model TheAgooProjectWeb.Pages.Compute_Result.General_Class_Info.IndexModel
@{
    ViewData["Title"] = "Class General Info List";
}
<link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
<link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<div class="page-content">
    <div class="card">
        <div class="card-header-pill">
            <div class="d-flex justify-content-between p-2">
                <div class=" badge text-white bg-blue text-uppercase"><strong class="h5">General Class Info List</strong></div>
                <div><a asp-page="Upsert" class="btn btn-dark"><i class="fas fa-plus"></i>&nbsp; Add Info</a></div>
            </div>

            @if (TempData["success"] != null)
            {
                <div class="alert alert-success alert-dismissible fade show mt-1 p-2" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong><i class="fas fa-info-circle"></i>  </strong> @TempData["success"].
                </div>
            }
            @if (TempData["error"] != null)
            {
                <div class="alert alert-danger alert-dismissible fade show mt-1 p-2" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong><i class="fas fa-exclamation-triangle"></i> </strong> @TempData["error"].
                </div>
            }
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="general" class="table table-sm table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Term</th>
                            <th>Session/Year</th>
                            <th>Class</th>
                            <th>Sub-Class</th>
                            <th>Next Term Start</th>
                            <th>Next Term End</th>
                            <th>Class Teacher</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/blockui/jquery.blockui.min.js"></script>
    <script src="~/js/generaltabledata.js"></script>
}